.no-dizmo-drag {
  -webkit-dashboard-region: dashboard-region(control rectangle);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  clear: both;
  display: table;
}

#front {
  margin: 5px;
  width: 100%;
  #display {
    display: block;
    height: 110px;
    margin-left: 10px;
    position: relative;
    text-align: right;
    width: 225px;
    #readout {
      bottom: 0px;
      color: #3c3c3c;
      font-size: 80px;
      position: absolute;
      right: 0px;
    }
  }
  button {
    line-height: 26px;
    margin-top: 10px ;
    padding-left: 0 ;
    padding-right: 0 ;
  }
  button#clear, button#sign, button#clear-all {
    background-color: #3c3c3c;
    color: #dfdfdf;
  }
  button#sign {
    background-position-x: 2px;
    background-position-y: -5px;
  }
  button#zero {
    width: 105px;
  }
}

///////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////

$cols: 3;
$colW: 70px;
$gutW: 10px;

@function gsw($cols: $cols) {
  @return ($colW * $cols) + ($gutW * $cols);
}

$totW: gsw($cols);

@mixin col($x, $cols: $cols) {
  display: inline;
  float: left;
  margin: 0 $totW * (($gutW * 0.5)/gsw($cols));
  width: $totW * (((($gutW + $colW) * $x) - $gutW) / gsw($cols));
}

$cols: 4;
$colW: 30px;
$gutW: 10px;

button {
  @include col(1);
  padding-left: auto;
  padding-right: auto;
}

///////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
