.no-dizmo-drag {
  -webkit-dashboard-region: dashboard-region(control rectangle);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#front {
  margin: 5px;
  width: 100%;
  #display {
    display: block;
    height: 110px;
    margin-left: 10px;
    position: relative;
    text-align: right;
    width: 225px;
    #readout {
      bottom: 0px;
      color: #3c3c3c;
      font-size: 80px;
      position: absolute;
      right: 0px;
    }
  }
  button {
    line-height: 26px;
    margin-top: 10px ;
    padding-left: 0 ;
    padding-right: 0 ;
  }
  button#clear, button#sign, button#clear-all {
    background-color: #3c3c3c;
    color: #dfdfdf;
  }
  button#sign {
    background-position-x: 2px;
    background-position-y: -5px;
  }
  button#zero {
    width: 105px;
  }
}

///////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////

$columns: 3;
$columnWidth: 70px;
$gutterWidth: 10px;

@function gridSystemWidth($columns: $columns) {
  @return ($columnWidth * $columns) + ($gutterWidth * $columns);
}

$totalWidth: gridSystemWidth($columns);

@mixin clearfix() {
  *zoom: 1;
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

body {
  width: 100%;
  @include clearfix();
}

@mixin row($columns: $columns) {
  display: block;
  margin: 0 $totalWidth * ((($gutterWidth * 0.5)/gridSystemWidth($columns)) * -1);
  width: $totalWidth * (($gutterWidth + gridSystemWidth($columns)) / gridSystemWidth($columns));
  @include clearfix();
}

@mixin column($x, $columns: $columns) {
  display: inline;
  float: left;
  margin: 0 $totalWidth * (($gutterWidth * 0.5)/gridSystemWidth($columns));
  width: $totalWidth * (((($gutterWidth + $columnWidth) * $x) - $gutterWidth) / gridSystemWidth($columns));
}

@mixin push($offset: 1) {
  margin-left: $totalWidth * ((($gutterWidth + $columnWidth) * $offset) / gridSystemWidth($columns)) + $totalWidth * (($gutterWidth * 0.5) / gridSystemWidth($columns));
}

@mixin pull($offset: 1) {
  margin-right: $totalWidth * ((($gutterWidth + $columnWidth) * $offset) / gridSystemWidth($columns)) + $totalWidth * (($gutterWidth * 0.5)/gridSystemWidth($columns));
}

///////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////

$columns: 4;
$columnWidth: 30px;
$gutterWidth: 10px;


button {
  @include column(1);
  padding-left: auto !important;
  padding-right: auto !important;
}

///////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
